@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Recursive&display=swap");

html {
  background-color: $bg-light;
  font-family: "Recursive", sans-serif;
}

div.page-wrapper {
  font-family: "Recursive", sans-serif;
  @include flex;
  height: 100vh;

  color: $primary-dark;
}

main.container {
  font-family: "Recursive", sans-serif;
  width: 100%;
  height: 100%;
  padding: $padding-1 0;
  overflow-y: scroll;
}

div.icon {
  position: absolute;
  bottom: 0;

  padding: $padding-2;
  margin: 2rem;
  border-radius: 50%;

  cursor: pointer;
}

div.add-icon {
  right: 0;

  background-color: $primary;
  color: $text-light;
}
