header {
  @include flex;
  width: 100%;

  box-shadow: $shadow-one;

  div.header-top {
    @include flex($direction: row, $justify: space-between);
    width: 100%;
    height: $header-top-h;
    padding: $padding-3;

    font-family: "Righteous", cursive;
    font-size: $font-xl;
    color: $primary;

    * {
      cursor: pointer;
    }
  }

  div.header-logo {
    @include flex($direction: rowm, $gap: 1rem);
    height: 100%;
  }

  h3 {
    @include flex($align: start);
    width: 100%;
    height: $header-bottom-h;
    padding: $padding-2;

    background-color: $primary;
    color: $text-light;
    font-size: $font-md1;

    text-shadow: $shadow-one;
  }
}
