.backdrop {
  @include flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: $transparent-dark;

  .modal {
    @include flex($justify: space-around);
    width: clamp(250px, 95%, 450px);
    height: 250px;
    background-color: $bg-light;
    border-radius: $bd-radius-md;
    padding: 25px;

    h1 {
      font-weight: 700;
    }

    p {
      white-space: pre-line;
      text-align: center;
    }

    button {
      @include button;
    }
  }
}
