form {
  h1 {
    margin-right: auto;
    padding-bottom: $padding-1;
    padding-top: $padding-1;
    font-weight: 700;
  }

  label {
    margin-right: auto;
  }

  div.icon {
    position: absolute;
    bottom: 0;

    padding: $padding-1;
    margin: 2rem;
    border-radius: 50%;

    cursor: pointer;
  }

  div.arrow-icon {
    left: 0;

    color: $text-light;
    background-color: $primary-dark;
  }

  div.check-icon {
    right: 0;

    background-color: $primary;
    color: $text-light;
  }
}
