form {
  font-family: "Recursive", sans-serif;
  @include flex($gap: 1rem);
  width: 100vw;
  height: 55%;
  font-size: $font-md1;

  input {
    @include input;
    border: 1px solid $primary;

    &:focus {
      background-color: lighten($color: $primary, $amount: 40);
    }
  }

  button {
    @include button;
  }

  .link-wrapper {
    @include flex;

    hr {
      display: block;
      height: 1px;
      width: 291px;
      border-top: 1px solid $transparent-dark;
      margin-top: 5px;
      margin-bottom: 10px;
    }

    a {
      margin-top: 10px;
      color: darken($color: $primary, $amount: 15);
    }
  }
}
