$primary: #005985;

$success-light: #9bfbb0;
$alert-light: #fb9b9b;
$alert-dark: #f52424;

$bg-light: #f2f9ff;
$bg-shade: #dbdbdb;

$font-md1: 18px;
$font-md2: 20px;
$font-lg: 36px;
$font-humungus: 100px;

$bd-radius-sm: 5px;

$shadow-one: 0px 4px 4px 0px #00000026;
