$primary: #005985;

$success-light: #9bfbb0;
$alert-light: #fb9b9b;
$alert-dark: #f52424;

$dark-1: #dbdbdb;
$bg-light: #f2f9ff;

$font-sm: 14px;
$font-md1: 18px;
$font-md2: 20px;
$font-lg: 36px;
$font-humungus: 100px;

$input-w: 250px;
$input-h: 40px;

$bd-radius-sm: 5px;

$shadow-one: 0px 4px 4px 0px #00000026;
