$primary: #41b883;
$primary-dark: #34495e;

$success-light: #9bfbb0;
$alert-light: #fb9b9b;
$alert-dark: #f52424;

$dark-1: #dbdbdb;
$bg-light: #edf1f5;
$transparent-dark: rgba(52, 73, 94, 0.6);

$font-sm: 14px;
$font-md1: 18px;
$font-md2: 20px;
$font-lg: 36px;
$font-xl: 52px;
$font-humungus: 100px;

$padding-1: 16px;
$padding-2: 20px;

$input-w: 250px;
$input-h: 40px;

$bd-radius-sm: 5px;
$bd-radius-md: 10px;

$shadow-one: 0px 4px 4px 0px #00000026;
