div.icon {
  position: absolute;
  bottom: 0;

  padding: $padding-2;
  margin: 2rem;
  border-radius: 50%;

  cursor: pointer;
}

div.arrow-icon {
  left: 0;

  color: $text-light;
  background-color: $primary-dark;
}
